/*---------------------------------------------------------
    GENERAL STYLING
---------------------------------------------------------*/
html {
    scroll-behavior: smooth;
    background-color: #363b2f;
}

/* Body */
body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

/* This contributes for load page fade-effect */
body.fade-out {
    opacity: .1;
}

/* Heading 1 Elements */
h1 {
    text-transform: uppercase;
    font-family: 'Albert Sans', sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #f2e2dc;
}

/* Heading 1 Element Hover Effect */
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/* Styling for portfolio title text */
.white-text {
    color: #f3f3f3;
    padding-top: 10vh;
}

/* Paragraph Elements */
p {
    font-family: 'Albert Sans', sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.6vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #f3f3f3;
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/* Center class -- Applies to all elements with the class "center */
.center {
    text-align: center;
}

/* Center class hover-effect -- This only affects the quote, GitHub link, and footer */
.center:hover {
    transition: transform 2s;
    transform:scale (1.1);
}

/* Anchor Elements */
a {
    color: #4b64ae;
    text-decoration: none;
    cursor: pointer;
}

/* Quotation Elements */
q {
    font-family: 'Tahoma', sans-serif;
    font-style: italic;
}

/* Image Elements */
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto;
}

/* Image hover effects */
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}


/* Styling for the footer element */
footer {
    padding: 2%;
    background-color: #d7cdc5;
}

/*------------------------------------------------------------
    END OF GENERAL STYLING
------------------------------------------------------------*/

/*------------------------------------------------------------
    NAVBAR STYLING
------------------------------------------------------------*/
.navbar {
    overflow: hidden;
    background-color: #757575;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw}
    to {left: 0vw}
}

.navbar a {
    float: left;
    display: block;
    color: #f2e2dc;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: 'Tahoma', sans-serif;
    font-size: 2vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/* Navbar hover effects */
.navbar a:hover {
    background-color: #363b2f;
    color: #edd4d8;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* Navbar Home Button */
.navbar a.active {
    background-color: #dcdcda8c;
}

/*----------------------------------------------------------
    END OF NAVBAR STYLING
----------------------------------------------------------*/

/*----------------------------------------------------------
    VIDEO STYLING
----------------------------------------------------------*/

/* Formatting for background video */
#typing_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    filter: grayscale(40%);
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #typing_video {
        display: none;
    }
}

/* Texts over the video */

.video_text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    /* height: 100%; */
    padding: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*----------------------------------------------------------
    END OF VIDEO STYLING
----------------------------------------------------------*/

/*----------------------------------------------------------
    SLIDESHOW STYLING
----------------------------------------------------------*/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
}

.mySlides {
    display: none;
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

#Slideshow_Container a {
    text-decoration: none;
}

/* Slideshow Images */
.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
}

/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #4b64ae;
    font-weight: bold;
    font-size: 2.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* Positioning the next button on the right side */
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: #f2e2dc;
}

/* Slideshow text */
.text {
    color: #f2e2dc;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: #f2e2dc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: #4b64ae;
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1}
}

/*----------------------------------------------------------
    TABLE STYLING
----------------------------------------------------------*/
* {
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 1.6%;
    height: 500px;
    background-color: #aba3a6;
}

.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 1.9%;
    height: 500px;
    background-color: #f3f3f3;
}


/* This inserts something after the contents of selected elements (in this case, the elements with the class "Row") */
.Row:after {
    content: "";
    display: table;
    clear: both;
}

/*----------------------------------------------------------
    END OF TABLE STYLING
----------------------------------------------------------*/

/*----------------------------------------------------------
    CONTACT FORM STYLING
----------------------------------------------------------*/
/* Button used to open the contact form, fixed at the bottom of the page */
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: #757575;
    color: #f3f3f3;
    border: solid 1px #363b2f;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* movePopup animation moves the button from off the 
right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Contact form styling */
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

/* Form Styling */
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: #d7cdc5;
}

/* Input fields */
.form-container input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    background: #fbfbf3;
    font-size: 1vw;
}

/* General stying for all buttons */
button {
    font-family: 'Albert Sans', sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    background-color: #f2e2dc;
    color: #363b2f;
    font-weight: bolder;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: #757575;
}

/* Submit Button */
.form-container .btn {
    background-color: #aba3a6;
    color: #f2e2dc;
    border-color: #757575;
    margin: 1vh;
}

/* Close button */
.form-container .cancel {
    background-color: #757575;
    color: #f2e2dc;
    border-color: #363b2f;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color:#4b64ae;
    background-color:#aba3a6;
    border-color: #f2e2dc;
}
/* Media rules for paragraph font size for different screen sizes */
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) { 
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/* Media rule for navbar links for different screen sizes */

@media screen and (max-width: 1080px) {
    .Navbar a {
        width: 20%;
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the fot of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote {
        font-size: 3.35vw;
    }
    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .column_1 {
        height: 550px;
    }
    .column_2 {
        height: 550px;
    }
}

/* Media rule to remove margin-top from h1 elements for extra
large screens */
@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}

/*-----------------------------------------------------------------------
    END OF MEDIA QUERY SECTION
-----------------------------------------------------------------------*/